.content .intro h3{text-align: center; color: #fff; font-size: 40px; padding: 180px 0 30px 0; position: relative;}
.content .intro p{color: #fff; position: relative; text-align: center; padding-bottom: 50px; font-family: gothic A1; font-size: 20px; width: 70%; left: 50%; margin-left: -35%;}
.content .intro p b{font-family: chonburi; font-size: 25px; line-height: 23px;}

/* 일반 pc */
@media screen and (max-width:1280px) {
	
}


/* 테블릿 */
@media screen and (max-width:1024px) {
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
    .content .intro h3{font-size: 30px;}
    .content .intro p{font-size: 16px;}
    .content .intro p b{font-size: 20px;}
}

/* 모바일 */
@media screen and (max-width:640px) {
    .content .intro h3{font-size: 25px;}
    .content .intro p{font-size: 14px;}
    .content .intro p b{line-height: 13px;}
}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
	#wrap { min-width:320px; }
    .content .intro p{width: 90%; margin-left: -45%;}
}